extends ../pug/layout_default.pug

block pageMain
	section.hero
		.grid
			.hero__inner
				.hero__info
					.hero__label Работаем с 2015 года
					h1.hero__title Ремонт квартир под ключ без стресса в Казани
					ul.hero__list
						li.hero__li Работаем по договору
						li.hero__li Даём гарантию
						li.hero__li Закупаем материалы со скидками
						li.hero__li Выезд и смета бесплатно
						li.hero__li Регулярные фото/видеоотчёты
						li.hero__li Гибкая система оплаты
				.hero__form
					+form('Получи <span>бесплатный расчёт</span> и <span>консультацию</span>', 'hero-name', 'hero-phone', 'Получить')
	section.video
		a.video__frame(data-hystmodal="#video")
			svg.video__icon
				use(xlink:href='img/svgSprite.svg#icon__play')
	section.section.section_bg_grey.services
		#services.section__anchor
		.grid
			.services__inner
				h2.section__title Наши #[span услуги]
				.services__grid
					+services-item('keys', 'Ремонт под ключ в новостройках и коттеджах')
					+services-item('apartments', 'Ремонт коммерческих помещений')
					+services-item('floor', 'Разработка <span>дизайн-проекта</span>')
					+services-item('cottage', 'Строительство загородных домов')
	section.section.works
		#works.section__anchor
		.grid
			.works__inner
				h2.section__title Наши #[span работы]
				.works__tabs
					.works__tabs-ovh
						.works__tabs-scroll
							.works__tabs-head
								.works__tab.works__tab_active(data-href='#works__tab_01')
									span Отделка квартир и коттеджей
								.works__tab(data-href='#works__tab_02')
									span Дизайн-проект
								.works__tab(data-href='#works__tab_03')
									span Ремонт коммерческих помещений
								.works__tab(data-href='#works__tab_04')
									span Строительство загородных домов
					.works__tabs-contents
						#works__tab_01.works__tabs-content.works__tabs-content_active
							.project-tabs
								.project-tabs__tabs-ovh
									.project-tabs__tabs-scroll(data-simplebar)
										.project-tabs__tabs-head
											+project-tabs-tab('1-к квартира', 'ЖК «Яркий»', '#project__tab_01', true)
											+project-tabs-tab('2-к квартира', 'ЖК «Светлый»', '#project__tab_02', false)
											+project-tabs-tab('4-к квартира', 'ЖК «Яратам»', '#project__tab_03', false)
											+project-tabs-tab('1-к квартира', 'ЖК «Green City»', '#project__tab_04', false)
								.project-tabs__tabs-contents
									#project__tab_01.project-tabs__tabs-content.project-tabs__tabs-content_active
										.project
											.project__tabs
												.project__head
													+project-tab('#gallery__tab_01', 4, true)
													+project-tab('#gallery__tab_02', 2, false)
													+project-tab('#gallery__tab_03', 3, false)
													+project-tab('#gallery__tab_04', 1, false)
												.project__gallery
													#gallery__tab_01.project__item.project__item_active
														.image-compare
															img(src='img/img__before_01.jpg', alt='')
															img(src='img/img__after_01.jpg', alt='')
													#gallery__tab_02.project__item
														a.project__link(data-fslightbox='gallery-1', href='img/img__project_04_l.jpg')
															img.project__image(src='img/img__project_04.jpg', alt='')
													#gallery__tab_03.project__item
														a.project__link(data-fslightbox='gallery-1', href='img/img__project_03_l.jpg')
															img.project__image(src='img/img__project_03.jpg', alt='')
													#gallery__tab_04.project__item
														a.project__link(data-fslightbox='gallery-1', href='img/img__project_02_l.jpg')
															img.project__image(src='img/img__project_02.jpg', alt='')
											.project__info
												.project__label 2-х комнатная квартира
												.project__title ЖК «Магелан»
												.project__tags
													.project__tag S 78м²
													.project__tag Срок: 6 месяцев
												ul.project__list
													li.project__li Дизайн проект
													li.project__li Отделка стен
													li.project__li Штукатурка стен
													li.project__li Сборка мебели
													li.project__li Поклейка обоев
												a.button.project__button(data-hystmodal="#application") Хочу так же

									#project__tab_02.project-tabs__tabs-content
										.project
											.project__tabs
												.project__head
													+project-tab('#gallery__tab_11', 4, true)
													+project-tab('#gallery__tab_12', 3, false)
													+project-tab('#gallery__tab_13', 1, false)
													+project-tab('#gallery__tab_14', 2, false)
												.project__gallery
													#gallery__tab_11.project__item.project__item_active
														.image-compare
															img(src='img/img__before_01.jpg', alt='')
															img(src='img/img__after_01.jpg', alt='')
													#gallery__tab_12.project__item
														a.project__link(data-fslightbox='gallery-2', href='img/img__project_03_l.jpg')
															img.project__image(src='img/img__project_03.jpg', alt='')
													#gallery__tab_13.project__item
														a.project__link(data-fslightbox='gallery-2', href='img/img__project_02_l.jpg')
															img.project__image(src='img/img__project_02.jpg', alt='')
													#gallery__tab_14.project__item
														a.project__link(data-fslightbox='gallery-2', href='img/img__project_04_l.jpg')
															img.project__image(src='img/img__project_04.jpg', alt='')
											.project__info
												.project__label 2-х комнатная квартира
												.project__title ЖК «Магелан»
												.project__tags
													.project__tag S 78м²
													.project__tag Срок: 6 месяцев
												ul.project__list
													li.project__li Дизайн проект
													li.project__li Отделка стен
													li.project__li Штукатурка стен
													li.project__li Сборка мебели
													li.project__li Поклейка обоев
												a.button.project__button(data-hystmodal="#application") Хочу так же
									#project__tab_03.project-tabs__tabs-content
										p Отделка квартир и коттеджей, таб 3
									#project__tab_04.project-tabs__tabs-content
										p Отделка квартир и коттеджей, таб 4

						#works__tab_02.works__tabs-content
							.project-tabs
								.project-tabs__tabs-ovh
									.project-tabs__tabs-scroll(data-simplebar)
										.project-tabs__tabs-head
											+project-tabs-tab('Подпись', 'Название', '#project__tab_11', true)
											+project-tabs-tab('Подпись', 'Название', '#project__tab_12', false)
											+project-tabs-tab('Подпись', 'Название', '#project__tab_13', false)
											+project-tabs-tab('Подпись', 'Название', '#project__tab_14', false)
								.project-tabs__tabs-contents
									#project__tab_11.project-tabs__tabs-content.project-tabs__tabs-content_active
										.project
											.project__tabs
												.project__head
													+project-tab('#gallery__tab_31', 4, true)
													+project-tab('#gallery__tab_32', 3, false)
													+project-tab('#gallery__tab_33', 2, false)
													+project-tab('#gallery__tab_34', 1, false)
												.project__gallery
													#gallery__tab_31.project__item.project__item_active
														.image-compare
															img(src='img/img__after_01.jpg', alt='')
															img(src='img/img__before_01.jpg', alt='')
													#gallery__tab_32.project__item
														a.project__link(data-fslightbox='gallery-2', href='img/img__project_03_l.jpg')
															img.project__image(src='img/img__project_03.jpg', alt='')
													#gallery__tab_33.project__item
														a.project__link(data-fslightbox='gallery-2', href='img/img__project_04_l.jpg')
															img.project__image(src='img/img__project_04.jpg', alt='')
													#gallery__tab_34.project__item
														a.project__link(data-fslightbox='gallery-2', href='img/img__project_02_l.jpg')
															img.project__image(src='img/img__project_02.jpg', alt='')
											.project__info
												.project__label 2-х комнатная квартира
												.project__title ЖК «Магелан»
												.project__tags
													.project__tag S 78м²
													.project__tag Срок: 6 месяцев
												ul.project__list
													li.project__li Дизайн проект
													li.project__li Отделка стен
													li.project__li Штукатурка стен
													li.project__li Сборка мебели
													li.project__li Поклейка обоев
												a.button.project__button(data-hystmodal="#application") Хочу так же
									#project__tab_12.project-tabs__tabs-content
										p Дизайн-проект, таб 2
									#project__tab_13.project-tabs__tabs-content
										p Дизайн-проект, таб 3
									#project__tab_14.project-tabs__tabs-content
										p Дизайн-проект, таб 4
						#works__tab_03.works__tabs-content
							p Ремонт коммерческих помещений
						#works__tab_04.works__tabs-content
							p Строительство загородных домов
	section.section.calc
		#calc.section__anchor
		.grid
			form#calc-form.calc__card(method='post')
				.calc__inner
					.calc__step.calc__step_01.calc__step_active
						.calc__col
							.calc__title Давайте рассчитаем #[span <span>ремонт</span> на вашем объекте]:
							.calc__pagination 1#[span /5]
							.calc__question Ремонт какого объекта вас интересует?
						.calc__col
							.calc__radios-set
								label.calc__label
									input.calc__radio(type='radio', name='object', value=0, checked, required)
									.calc__tile
										svg.calc__radio-icon
											use(xlink:href='img/svgSprite.svg#icon__floor_alt')
										.calc__radio-title Квартира
								label.calc__label
									input.calc__radio(type='radio', name='object', value=1, required)
									.calc__tile
										svg.calc__radio-icon
											use(xlink:href='img/svgSprite.svg#icon__cottage')
										.calc__radio-title Дом/коттедж
								label.calc__label
									input.calc__radio(type='radio', name='object', value=2, required)
									.calc__tile
										svg.calc__radio-icon
											use(xlink:href='img/svgSprite.svg#icon__apartments')
										.calc__radio-title Коммерческий объект
							.calc__footer
								a.button.calc__button(data-step='next') Далее

					.calc__step.calc__step_02
						.calc__col
							.calc__title Давайте рассчитаем #[span <span>ремонт</span> на вашем объекте]:
							.calc__pagination 2#[span /5]
							.calc__question Укажите ориентировочную площадь
						.calc__col
							.calc__ranges
								.calc__ranges-row
									+field_number('Площадь вашего помещения, м²', 'area', 'input-area', '', 10, 500)
									.calc__range.calc__range_area
								.calc__ranges-row
									+field_number('Количество комнат', 'rooms', 'input-rooms', '', 1, 25)
									.calc__range.calc__range_rooms
								.calc__ranges-row
									+field_number('Количество санузлов', 'bathrooms', 'input-bathrooms', '', 1, 5)
									.calc__range.calc__range_bathrooms
							.calc__footer
								a.button.button_secondary.calc__button(data-step='prev') Назад
								a.button.calc__button(data-step='next') Далее

					.calc__step.calc__step_03
						.calc__col
							.calc__title Давайте рассчитаем #[span <span>ремонт</span> на вашем объекте]:
							.calc__pagination 3#[span /5]
							.calc__question Выберите, какие работы необходимо произвести?
						.calc__col
							.calc__checks-grid
								.calc__checks-col
									.calc__checks-title Потолок
									.calc__checks-list
										+checkbox('Натяжной', 'ceiling', 0, false)
										+checkbox('Гипсокартон', 'ceiling', 1, false)
										+checkbox('Штукатурка', 'ceiling', 2, false)
										+checkbox('Многоуровневый', 'ceiling', 3, false)
								.calc__checks-col
									.calc__checks-title Стены
									.calc__checks-list
										+checkbox('Натяжной', 'walls', 0, false)
										+checkbox('Гипсокартон', 'walls', 1, false)
										+checkbox('Штукатурка', 'walls', 2, false)
										+checkbox('Многоуровневый', 'walls', 3, false)
								.calc__checks-col
									.calc__checks-title Пол
									.calc__checks-list
										+checkbox('Ламинат', 'floor', 0, false)
										+checkbox('Паркет', 'floor', 1, false)
										+checkbox('Плитка штукатурка', 'floor', 2, false)
										+checkbox('Комбинированные', 'floor', 3, false)
							.calc__footer
								a.button.button_secondary.calc__button(data-step='prev') Назад
								a.button.calc__button(data-step='next') Далее

					.calc__step.calc__step_04
						.calc__col
							.calc__title Давайте рассчитаем #[span <span>ремонт</span> на вашем объекте]:
							.calc__pagination 4#[span /5]
							.calc__question У вас есть готовый дизайн-проект?
						.calc__col
							.calc__radios-set
								label.calc__label
									input.calc__radio(type='radio', name='project', value=0, checked, required)
									.calc__tile
										svg.calc__radio-icon
											use(xlink:href='img/svgSprite.svg#icon__doc')
										.calc__radio-title Да, есть
								label.calc__label
									input.calc__radio(type='radio', name='project', value=1, required)
									.calc__tile
										svg.calc__radio-icon
											use(xlink:href='img/svgSprite.svg#icon__search')
										.calc__radio-title В процессе поиска
								label.calc__label
									input.calc__radio(type='radio', name='project', value=2, required)
									.calc__tile
										svg.calc__radio-icon
											use(xlink:href='img/svgSprite.svg#icon__right')
										.calc__radio-title Нет, но не откажусь от бесплатного
							.calc__footer
								a.button.button_secondary.calc__button(data-step='prev') Назад
								a.button.calc__button(data-step='next') Далее

					.calc__step.calc__step_05
						.calc__col
							.calc__title Давайте рассчитаем #[span <span>ремонт</span> на вашем объекте]:
							.calc__pagination 5#[span /5]
							.calc__question Когда планируете начать ремонт?
						.calc__col
							.calc__radios-set
								label.calc__label
									input.calc__radio(type='radio', name='time', value=0, checked, required)
									.calc__tile
										svg.calc__radio-icon
											use(xlink:href='img/svgSprite.svg#icon__clock')
										.calc__radio-title Как можно скорее
								label.calc__label
									input.calc__radio(type='radio', name='time', value=1, required)
									.calc__tile
										svg.calc__radio-icon
											use(xlink:href='img/svgSprite.svg#icon__calendar')
										.calc__radio-title В этом месяце
								label.calc__label
									input.calc__radio(type='radio', name='time', value=2, required)
									.calc__tile
										svg.calc__radio-icon
											use(xlink:href='img/svgSprite.svg#icon__time')
										.calc__radio-title В течение 3-х месяцев
							.calc__footer
								a.button.button_secondary.calc__button(data-step='prev') Назад
								a.button.calc__button(data-step='next') Далее

					.calc__step.calc__step_06
						.calc__col
							.calc__title Давайте рассчитаем #[span <span>ремонт</span> на вашем объекте]:
							.calc__pagination Расчет готов!
							.calc__question Вам куда удобнее получить результат и бонусы?
						.calc__col
							.calc__send
								.calc__block
									.calc__socials
										label.calc__social
											input.calc__radio(type='radio', name='social', value=0, checked, required)
											.calc__social-tile
												svg.calc__social-icon
													use(xlink:href='img/svgSprite.svg#icon__social_wa')
												.calc__social-title WhatsApp
										label.calc__social
											input.calc__radio(type='radio', name='social', value=0, required)
											.calc__social-tile
												svg.calc__social-icon
													use(xlink:href='img/svgSprite.svg#icon__social_tg')
												.calc__social-title Telegram
									.calc__descr Введите ваш телефон, мы вышлем вам стоимость и бонусы на указанный способ как можно скорее!
								.form.calc__form
									.form__grid
										+field('Имя', 'calc-name')
										+field_phone('Номер телефона', 'calc-phone')
										input.button(type='submit', value='Получить')
									.form__small Заполняя форму вы даёте согласие на обработку #[a(href='policy.html', target='_blanc') персональных данных]

					.calc__step.calc__step_07
						.calc__success
							.calc__success-info
								.calc__success-title Ваша заявка отправлена, cпасибо!
								.calc__success-text В ближайшее время мы свяжемся с Вами
							svg.calc__success-icon
								use(xlink:href='img/svgSprite.svg#icon__like')

	section.section.steps
		#steps.section__anchor
		.grid
			.steps__inner
				h2.section__title Этапы #[span работ]
				.steps__grid
					.steps__row
						+steps-item('roller', 'Замер и составление сметы', 1)
						svg.steps__arrow
							use(xlink:href='img/svgSprite.svg#icon__arrow')
						+steps-item('sign', 'Подписание договора', 2)
						svg.steps__arrow
							use(xlink:href='img/svgSprite.svg#icon__arrow')
						+steps-item('cart', 'Подготовительные работы', 3)
					svg.steps__arrow.steps__arrow_link
						use(xlink:href='img/svgSprite.svg#icon__arrow_link')
					.steps__arrow-link
						img(src='img/icon__arrow_end.svg')
						.steps__line
						img(src='img/icon__arrow_start.svg')
					.steps__row.steps__row_second
						+steps-item('wall', 'Отделка помещения', 4)
						svg.steps__arrow
							use(xlink:href='img/svgSprite.svg#icon__arrow')
						+steps-item('clean', 'Клининг', 5)
						svg.steps__arrow
							use(xlink:href='img/svgSprite.svg#icon__arrow')
						+steps-item('keys', 'Сдача объекта', 6)
	section.section.section_bg_grey.team
		#team.section__anchor
		.grid
			.team__inner
				.team__info
					h2.section__title.team__title У нас #[span большая команда #[span специалистов]]
					.team__p В нашей команде каждый специалист занимается своим делом
					ul.team__list
						li.team__li Демонтажники
						li.team__li Каменщики
						li.team__li Электрики
						li.team__li Маляры
						li.team__li Мастера по стяжке
						li.team__li Мастера по гипсокартону
						li.team__li Сантехники
						li.team__li Вентиляционщики
						li.team__li Штукатурщики
						li.team__li Паркетники
						li.team__li Плиточники
						li.team__li Мастера по натяжному потолку
				.team__slider-wrap
					.swiper.team__slider
						.swiper-wrapper
							.swiper-slide.team__slide
								img(src='img/img__team_01.jpg' alt='')
							.swiper-slide.team__slide
								img(src='img/img__team_02.jpg' alt='')
							.swiper-slide.team__slide
								img(src='img/img__team_03.jpg' alt='')
					.swiper-button-prev.team__prev
						svg.swiper-icon
							use(xlink:href='img/svgSprite.svg#icon__prev')
					.swiper-button-next.team__next
						svg.swiper-icon
							use(xlink:href='img/svgSprite.svg#icon__next')
	section.section.docs
		.grid
			.docs__inner
				h2.section__title Мы всегда #[span повышаем свою #[span квалификацию]]
				.docs__slider-wrap
					.swiper.docs__slider
						.swiper-wrapper
							.swiper-slide.docs__slide
								a.docs__link(data-fslightbox='docs', href='img/img__doc_01_l.jpg')
									img(src='img/img__doc_01.jpg', alt='')
							.swiper-slide.docs__slide
								a.docs__link(data-fslightbox='docs', href='img/img__doc_02_l.jpg')
									img(src='img/img__doc_02.jpg', alt='')
							.swiper-slide.docs__slide
								a.docs__link(data-fslightbox='docs', href='img/img__doc_03_l.jpg')
									img(src='img/img__doc_03.jpg', alt='')
					.swiper-button-prev.docs__prev
						svg.swiper-icon
							use(xlink:href='img/svgSprite.svg#icon__prev')
					.swiper-button-next.docs__next
						svg.swiper-icon
							use(xlink:href='img/svgSprite.svg#icon__next')
	section.section.section_bg_grey.reviews
		#reviews.section__anchor
		.grid
			.reviews__inner
				h2.section__title Отзывы #[span наших клиентов]
				.reviews__slider-wrap
					.swiper.reviews__video-slider
						.swiper-wrapper
							.swiper-slide.reviews__slide
								a.reviews__video-link(data-hystmodal="#video-review-1")
									svg.reviews__icon
										use(xlink:href='img/svgSprite.svg#icon__play')
									img(src='img/img__video-review_01.jpg', alt='')
							.swiper-slide.reviews__slide
								a.reviews__video-link(data-hystmodal="#video-review-2")
									svg.reviews__icon
										use(xlink:href='img/svgSprite.svg#icon__play')
									img(src='img/img__video-review_02.jpg', alt='')
					.swiper-button-prev.reviews__video-prev
						svg.swiper-icon
							use(xlink:href='img/svgSprite.svg#icon__prev')
					.swiper-button-next.reviews__video-next
						svg.swiper-icon
							use(xlink:href='img/svgSprite.svg#icon__next')
				.reviews__slider-wrap
					.swiper.reviews__slider
						.swiper-wrapper
							.swiper-slide.reviews__slide
								a.reviews__link(data-fslightbox='reviews', href='img/img__reviews_01_l.jpg')
									img(src='img/img__reviews_01.jpg', alt='')
							.swiper-slide.reviews__slide
								a.reviews__link(data-fslightbox='reviews', href='img/img__reviews_02_l.jpg')
									img(src='img/img__reviews_02.jpg', alt='')
							.swiper-slide.reviews__slide
								a.reviews__link(data-fslightbox='reviews', href='img/img__reviews_03_l.jpg')
									img(src='img/img__reviews_03.jpg', alt='')
							.swiper-slide.reviews__slide
								a.reviews__link(data-fslightbox='reviews', href='img/img__reviews_04_l.jpg')
									img(src='img/img__reviews_04.jpg', alt='')
					.swiper-button-prev.reviews__prev
						svg.swiper-icon
							use(xlink:href='img/svgSprite.svg#icon__prev')
					.swiper-button-next.reviews__next
						svg.swiper-icon
							use(xlink:href='img/svgSprite.svg#icon__next')
