extends ../pug/layout_default.pug

block pageMain
	section.hero
		.grid
			.hero__inner
				.hero__info
					.hero__label Работаем с 2015 года
					h1.hero__title Ремонт квартир под ключ без стресса в Казани
					ul.hero__list
						li.hero__li Работаем по договору
						li.hero__li Даём гарантию
						li.hero__li Закупаем материалы со скидками
						li.hero__li Выезд и смета бесплатно
						li.hero__li Регулярные фото/видеоотчёты
						li.hero__li Гибкая система оплаты
				.hero__form
					+form('Получи <span>бесплатный расчёт</span> и <span>консультацию</span>', 'hero-name', 'hero-phone', 'Получить')
	//section.video
		a.video__frame(data-hystmodal="#video")
			svg.video__icon
				use(xlink:href='img/svgSprite.svg#icon__play')
	section.section.section_bg_grey.services
		#services.section__anchor
		.grid
			.services__inner
				h2.section__title Наши #[span услуги]
				.services__grid
					+services-item('keys', 'Ремонт под ключ в новостройках и коттеджах')
					+services-item('apartments', 'Ремонт коммерческих помещений')
					+services-item('floor', 'Разработка <span>дизайн-проекта</span>')
					+services-item('cottage', 'Строительство загородных домов')
	section.section.works
		#works.section__anchor
		.grid
			.works__inner
				h2.section__title Наши #[span работы]
				.works__tabs
					.works__tabs-ovh
						.works__tabs-scroll
							.works__tabs-head
								.works__tab.works__tab_active(data-href='#works__tab_01')
									span Разработка дизайн-проектов
								.works__tab(data-href='#works__tab_02')
									span Отделка квартир и коттеджей
								.works__tab(data-href='#works__tab_03')
									span Ремонт коммерческих помещений
								.works__tab(data-href='#works__tab_04')
									span Строительство загородных домов
					.works__tabs-contents
						#works__tab_01.works__tabs-content.works__tabs-content_active
							.project-tabs
								.project-tabs__tabs-ovh
									.project-tabs__tabs-scroll
										.project-tabs__tabs-head
											+project-tabs-tab('Дизайн-проект', 'Савин Хаус', '#savin', true)
											+project-tabs-tab('Дизайн-проект', '21 век', '#century', false)
											+project-tabs-tab('Дизайн-проект', 'Казан Су дизайн', '#kazan', false)
								.project-tabs__tabs-contents
									#savin.project-tabs__tabs-content.project-tabs__tabs-content_active
										+project(
											{
												beforeAfter: false,
												gallery: 'savin',
												tab: [
													{href: 'savin_01', img: '01-01', before: '', after: ''},
													{href: 'savin_02', img: '01-02', before: '', after: ''},
													{href: 'savin_03', img: '01-03', before: '', after: ''},
													{href: 'savin_04', img: '01-04', before: '', after: ''},
													{href: 'savin_05', img: '01-05', before: '', after: ''},
													{href: 'savin_06', img: '01-06', before: '', after: ''},
													{href: 'savin_07', img: '01-07', before: '', after: ''},
													{href: 'savin_08', img: '01-08', before: '', after: ''}
												]
											},
											{
												label: 'Дизайн-проект квартиры',
												title: 'ЖК «Савин Хаус»',
												s: 48,
												list: [
													'совмещённый с/у',
													'гардеробная',
													'спальная комната',
													'кухня-студия',
													'балкон'
												],
											},
											'design'
										)
									#century.project-tabs__tabs-content
										+project(
											{
												beforeAfter: false,
												gallery: 'century',
												tab: [
													{href: 'century_01', img: '00-01', before: '', after: ''},
												]
											},
											{
												label: 'Дизайн-проект 3к квартиры с перепланировкой',
												title: 'ЖК «21 век»',
												s: 78,
												list: [
													'прихожая',
													'2 с/у',
													'прачечная',
													'спальня',
													'детская',
													'кухня-студия',
													'балкон'
												],
											},
											'design'
										)
									#kazan.project-tabs__tabs-content
										+project(
											{
												beforeAfter: false,
												gallery: 'century',
												tab: [
													{href: 'century_01', img: '00-01', before: '', after: ''},
												]
											},
											{
												label: 'Дизайн-проект 2к квартиры с перепланировкой',
												title: 'ЖК «Казан Су»',
												s: 77,
												list: [
													'прихожая',
													'2 с/у',
													'кухня-студия',
													'спальня',
													'балкон'
												],
											},
											'design'
										)
						#works__tab_02.works__tabs-content
							.project-tabs
								.project-tabs__tabs-ovh
									.project-tabs__tabs-scroll
										.project-tabs__tabs-head
											+project-tabs-tab('Отделка ванной', 'КП «Габишево»', '#gabishevo', true)
											+project-tabs-tab('Ремонт ванной', 'ул. Декабристов', '#dekabristov', false)
											+project-tabs-tab('Отделка 2к Квартиры', 'ЖК «Весна»', '#vesna', false)
											+project-tabs-tab('Ремонт 2к квартиры', 'ул. Завойского', '#zavoiskogo', false)
											+project-tabs-tab('Отделка 1к квартиры', 'ЖК «Три Богатыря»', '#tribogatyia', false)
								.project-tabs__tabs-contents
									#gabishevo.project-tabs__tabs-content.project-tabs__tabs-content_active
										+project(
											{
												beforeAfter: false,
												gallery: 'gabishevo',
												tab: [
													{href: 'gabishevo_01', img: '01-01', before: '', after: ''},
													{href: 'gabishevo_02', img: '01-02', before: '', after: ''},
													{href: 'gabishevo_03', img: '01-03', before: '', after: ''},
													{href: 'gabishevo_04', img: '01-04', before: '', after: ''},
													{href: 'gabishevo_05', img: '01-05', before: '', after: ''},
													{href: 'gabishevo_06', img: '01-06', before: '', after: ''},
													{href: 'gabishevo_07', img: '01-07', before: '', after: ''},
													{href: 'gabishevo_08', img: '01-08', before: '', after: ''}
												]
											},
											{
												label: 'Отделка ванной комнаты',
												title: 'КП «Габишево»',
												s: 7,
												term: '3 недели',
												list: [
													'электромонтаж',
													'плиточные работы',
													'установка ванной и сантехники'
												],
											},
											'decoration'
										)
									#dekabristov.project-tabs__tabs-content
										+project(
											{
												beforeAfter: false,
												gallery: 'dekabristov',
												tab: [
													{href: 'dekabristov_01', img: '02-01', before: '', after: ''},
													{href: 'dekabristov_02', img: '02-02', before: '', after: ''},
													{href: 'dekabristov_03', img: '02-03', before: '', after: ''},
													{href: 'dekabristov_04', img: '02-04', before: '', after: ''},
													{href: 'dekabristov_05', img: '02-05', before: '', after: ''}
												]
											},
											{
												label: 'Ремонт ванной комнаты',
												title: 'ул. Декабристов',
												s: 4,
												term: '3 недели',
												list: [
													'демонтаж',
													'штукатурка',
													'электромонтаж',
													'плиточные работы',
													'установка сантехники'
												],
											},
											'decoration'
										)
									#vesna.project-tabs__tabs-content
										+project(
											{
												beforeAfter: false,
												gallery: 'vesna',
												tab: [
													{href: 'vesna_01', img: '03-01', before: '', after: ''},
													{href: 'vesna_02', img: '03-02', before: '', after: ''},
													{href: 'vesna_03', img: '03-03', before: '', after: ''},
													{href: 'vesna_04', img: '03-04', before: '', after: ''},
													{href: 'vesna_05', img: '03-05', before: '', after: ''},
													{href: 'vesna_06', img: '03-06', before: '', after: ''},
													{href: 'vesna_07', img: '03-07', before: '', after: ''},
													{href: 'vesna_08', img: '03-08', before: '', after: ''}
												]
											},
											{
												label: 'Отделка 2к Квартиры',
												title: 'ЖК «Весна»',
												s: 56,
												term: '4,5 месяца',
												list: [
													'раздельный с/у',
													'электромонтаж',
													'обои',
													'натяжной потолок',
													'ламинат',
													'тёплые полы'
												],
											},
											'decoration'
										)
									#zavoiskogo.project-tabs__tabs-content
										+project(
											{
												beforeAfter: false,
												gallery: 'zavoiskogo',
												tab: [
													{href: 'zavoiskogo_01', img: '04-01', before: '', after: ''},
													{href: 'zavoiskogo_02', img: '04-02', before: '', after: ''},
													{href: 'zavoiskogo_03', img: '04-03', before: '', after: ''},
													{href: 'zavoiskogo_04', img: '04-04', before: '', after: ''},
													{href: 'zavoiskogo_05', img: '04-05', before: '', after: ''},
													{href: 'zavoiskogo_06', img: '04-06', before: '', after: ''},
													{href: 'zavoiskogo_07', img: '04-07', before: '', after: ''},
													{href: 'zavoiskogo_08', img: '04-08', before: '', after: ''}
												]
											},
											{
												label: 'Ремонт 2к квартиры',
												title: 'ул. Завойского',
												s: 90,
												term: '3 месяца',
												list: [
													'2 с/у',
													'электромонтаж',
													'штукатурка',
													'наливной пол',
													'ламинат',
													'обои'
												],
											},
											'decoration'
										)
									#tribogatyia.project-tabs__tabs-content
										+project(
											{
												beforeAfter: false,
												gallery: 'tribogatyia',
												tab: [
													{href: 'tribogatyia_01', img: '05-01', before: '', after: ''},
													{href: 'tribogatyia_02', img: '05-02', before: '', after: ''},
													{href: 'tribogatyia_03', img: '05-03', before: '', after: ''},
													{href: 'tribogatyia_04', img: '05-04', before: '', after: ''},
													{href: 'tribogatyia_05', img: '05-05', before: '', after: ''},
													{href: 'tribogatyia_06', img: '05-06', before: '', after: ''},
													{href: 'tribogatyia_07', img: '05-07', before: '', after: ''},
													{href: 'tribogatyia_08', img: '05-08', before: '', after: ''}
												]
											},
											{
												label: 'Отделка 1к квартиры',
												title: 'ЖК «Три Богатыря»',
												s: 38,
												term: '3,5 месяца',
												list: [
													'с/у с душевым поддоном',
													'электромонтаж',
													'комбинированный пол плитка/ламинат',
													'тёплые полы',
													'штукатурка',
													'комбинированные обои',
													'потолок из гкл'
												],
											},
											'decoration'
										)
						#works__tab_03.works__tabs-content
							.project-tabs
								.project-tabs__tabs-ovh
									.project-tabs__tabs-scroll
										.project-tabs__tabs-head
											+project-tabs-tab('Магазин одежды', 'БЦ «Урбан»', '#urban', true)
											+project-tabs-tab('Логистический комплекс', 'Шатэ-м', '#shate', false)
											+project-tabs-tab('Магазин одежды', 'ул. Щапова', '#shapova', false)
								.project-tabs__tabs-contents
									#urban.project-tabs__tabs-content.project-tabs__tabs-content_active
										+project(
											{
												beforeAfter: false,
												gallery: 'urban',
												tab: [
													{href: 'urban_01', img: '01-01', before: '', after: ''},
													{href: 'urban_02', img: '01-02', before: '', after: ''},
													{href: 'urban_03', img: '01-03', before: '', after: ''},
													{href: 'urban_04', img: '01-04', before: '', after: ''},
													{href: 'urban_05', img: '01-05', before: '', after: ''},
													{href: 'urban_06', img: '01-06', before: '', after: ''},
													{href: 'urban_07', img: '01-07', before: '', after: ''},
													{href: 'urban_08', img: '01-08', before: '', after: ''}
												]
											},
											{
												label: 'Магазин одежды',
												title: 'БЦ «Урбан»',
												s: 200,
												term: '4 месяца',
												list: [
													'электромонтаж',
													'декоративная штукатурка',
													'двери',
													'оборудование'
												],
											},
											'commercial'
										)
									#shate.project-tabs__tabs-content
										+project(
											{
												beforeAfter: false,
												gallery: 'shate',
												tab: [
													{href: 'shate_01', img: '02-01', before: '', after: ''},
													{href: 'shate_02', img: '02-02', before: '', after: ''},
													{href: 'shate_03', img: '02-03', before: '', after: ''},
													{href: 'shate_04', img: '02-04', before: '', after: ''},
													{href: 'shate_05', img: '02-05', before: '', after: ''},
													{href: 'shate_06', img: '02-06', before: '', after: ''},
													{href: 'shate_07', img: '02-07', before: '', after: ''},
													{href: 'shate_08', img: '02-08', before: '', after: ''}
												]
											},
											{
												label: 'Логистический комплекс автозапчастей',
												title: 'Шатэ-м',
												s: 700,
												term: '2 месяца',
												list: [
													'электромонтаж комплекса'
												],
											},
											'commercial'
										)
									#shapova.project-tabs__tabs-content
										+project(
											{
												beforeAfter: false,
												gallery: 'shapova',
												tab: [
													{href: 'shapova_01', img: '03-01', before: '', after: ''},
													{href: 'shapova_02', img: '03-02', before: '', after: ''},
													{href: 'shapova_03', img: '03-03', before: '', after: ''},
													{href: 'shapova_04', img: '03-04', before: '', after: ''},
													{href: 'shapova_05', img: '03-05', before: '', after: ''},
													{href: 'shapova_06', img: '03-06', before: '', after: ''},
													{href: 'shapova_07', img: '03-07', before: '', after: ''},
													{href: 'shapova_08', img: '03-08', before: '', after: ''}
												]
											},
											{
												label: 'Магазин одежды',
												title: 'ул. Щапова',
												s: 200,
												term: '5 месяцев',
												list: [
													'электромонтаж',
													'декоративная штукатурка',
													'покраска',
													'плиточные работы',
													'монтаж гкл',
													'оборудование'
												],
											},
											'commercial'
										)
						#works__tab_04.works__tabs-content
							.project-tabs
								.project-tabs__tabs-ovh
									.project-tabs__tabs-scroll
										.project-tabs__tabs-head
											+project-tabs-tab('Баня', 'Верхний Услон', '#uslon', true)
											+project-tabs-tab('2х этажный дом', 'КП «Державино»', '#derzchavino', false)
											+project-tabs-tab('2х этажный дом', 'КП «Никольское»', '#nickolskoe', false)
											+project-tabs-tab('Банный комплекс', 'Салмачи', '#salmachi', false)
											+project-tabs-tab('1 этажный дом', 'Сокуры', '#sokury', false)
											+project-tabs-tab('1 этажный дом', 'КП «Зимняя горка»', '#turgay', false)
								.project-tabs__tabs-contents
									#uslon.project-tabs__tabs-content.project-tabs__tabs-content_active
										+project(
											{
												beforeAfter: false,
												gallery: 'uslon',
												tab: [
													{href: 'uslon_01', img: '01-01', before: '', after: ''},
													{href: 'uslon_02', img: '01-02', before: '', after: ''},
													{href: 'uslon_03', img: '01-03', before: '', after: ''},
													{href: 'uslon_04', img: '01-04', before: '', after: ''},
													{href: 'uslon_05', img: '01-05', before: '', after: ''},
													{href: 'uslon_06', img: '01-06', before: '', after: ''},
													{href: 'uslon_07', img: '01-07', before: '', after: ''},
													{href: 'uslon_08', img: '01-08', before: '', after: ''}
												]
											},
											{
												label: 'Баня',
												title: 'посёлок Верхний Услон',
												term: '2 месяца',
												list: [
													'парилка',
													'помывочная',
													'зона отдыха',
													'хозблок'
												],
											},
											'building'
										)
									#derzchavino.project-tabs__tabs-content
										+project(
											{
												beforeAfter: false,
												gallery: 'derzchavino',
												tab: [
													{href: 'derzchavino_01', img: '02-01', before: '', after: ''},
													{href: 'derzchavino_02', img: '02-02', before: '', after: ''},
													{href: 'derzchavino_03', img: '02-03', before: '', after: ''},
													{href: 'derzchavino_04', img: '02-04', before: '', after: ''},
													{href: 'derzchavino_05', img: '02-05', before: '', after: ''},
													{href: 'derzchavino_06', img: '02-06', before: '', after: ''},
													{href: 'derzchavino_07', img: '02-07', before: '', after: ''},
													{href: 'derzchavino_08', img: '02-08', before: '', after: ''}
												]
											},
											{
												label: '2х этажный дом с террасой',
												title: 'КП «Державино»',
												s: 140,
												term: '7 месяцев',
												list: [
													'2 с/у',
													'прихожая',
													'кухня-студия',
													'3 спальни',
													'терраса',
													'баня',
													'электромонтаж',
													'штукатурка',
													'стяжка',
													'отопление'
												],
											},
											'building'
										)
									#nickolskoe.project-tabs__tabs-content
										+project(
											{
												beforeAfter: false,
												gallery: 'nickolskoe',
												tab: [
													{href: 'nickolskoe_01', img: '03-01', before: '', after: ''},
													{href: 'nickolskoe_02', img: '03-02', before: '', after: ''},
													{href: 'nickolskoe_03', img: '03-03', before: '', after: ''},
													{href: 'nickolskoe_04', img: '03-04', before: '', after: ''},
													{href: 'nickolskoe_05', img: '03-05', before: '', after: ''}
												]
											},
											{
												label: '2х этажный дом с террасой',
												title: 'КП «Никольское»',
												s: 138,
												term: '6 месяцев',
												list: [
													'2 с/у',
													'котельная',
													'кабинет',
													'кухня-студия',
													'3 спальни',
													'гардеробная',
													'терраса',
													'газ',
													'отопление',
													'свет',
													'штукатурка',
													'стяжка',
												],
											},
											'building'
										)
									#salmachi.project-tabs__tabs-content
										+project(
											{
												beforeAfter: false,
												gallery: 'salmachi',
												tab: [
													{href: 'salmachi_01', img: '04-01', before: '', after: ''},
													{href: 'salmachi_02', img: '04-02', before: '', after: ''},
													{href: 'salmachi_03', img: '04-03', before: '', after: ''},
													{href: 'salmachi_04', img: '04-04', before: '', after: ''},
													{href: 'salmachi_05', img: '04-05', before: '', after: ''},
													{href: 'salmachi_06', img: '04-06', before: '', after: ''},
													{href: 'salmachi_07', img: '04-07', before: '', after: ''}
												]
											},
											{
												label: 'Банный комплекс',
												title: 'посёлок Салмачи',
												term: '4 месяца',
												list: [
													'котельная',
													'парилка',
													'душевая',
													'зона отдыха',
													'кухня',
													'с/у'
												],
											},
											'building'
										)
									#sokury.project-tabs__tabs-content
										+project(
											{
												beforeAfter: false,
												gallery: 'sokury',
												tab: [
													{href: 'sokury_01', img: '05-01', before: '', after: ''},
													{href: 'sokury_02', img: '05-02', before: '', after: ''},
													{href: 'sokury_03', img: '05-03', before: '', after: ''},
													{href: 'sokury_04', img: '05-04', before: '', after: ''},
													{href: 'sokury_05', img: '05-05', before: '', after: ''}
												]
											},
											{
												label: '1 этажный дом с эркером',
												title: 'посёлок Сокуры',
												term: '5 месяцев',
												list: [
													'прихожая',
													'гардеробная',
													'2 большие спальни',
													'детская',
													'с/у',
													'кухня-студия с выходом на участок',
													'электромонтаж',
													'отопление',
													'газ',
													'штукатурка',
													'стяжка'
												],
											},
											'building'
										)
									#turgay.project-tabs__tabs-content
										+project(
											{
												beforeAfter: false,
												gallery: 'turgay',
												tab: [
													{href: 'turgay_01', img: '06-01', before: '', after: ''},
													{href: 'turgay_02', img: '06-02', before: '', after: ''},
													{href: 'turgay_03', img: '06-03', before: '', after: ''}
												]
											},
											{
												label: '1 этажный дом с мансардой',
												title: 'КП «Зимняя горка»',
												s: 105,
												term: '4 месяца',
												list: [
													'прихожая',
													'котельная',
													'кухня-студия с выходом на небольшую террасу',
													'гардеробная',
													'просторный с/у',
													'3 спальни',
													'мансарда'
												],
											},
											'building'
										)
	section.section.calc
		#calc.section__anchor
		.grid
			form#calc-form.calc__card(method='post')
				.calc__inner
					.calc__step.calc__step_01.calc__step_active
						.calc__col
							.calc__title Давайте рассчитаем #[span <span>ремонт</span> на вашем объекте]:
							.calc__pagination 1#[span /5]
							.calc__question Ремонт какого объекта вас интересует?
						.calc__col
							.calc__radios-set
								label.calc__label
									input.calc__radio(type='radio', name='object', value=0, checked, required)
									.calc__tile
										svg.calc__radio-icon
											use(xlink:href='img/svgSprite.svg#icon__floor_alt')
										.calc__radio-title Квартира
								label.calc__label
									input.calc__radio(type='radio', name='object', value=1, required)
									.calc__tile
										svg.calc__radio-icon
											use(xlink:href='img/svgSprite.svg#icon__cottage')
										.calc__radio-title Дом/коттедж
								label.calc__label
									input.calc__radio(type='radio', name='object', value=2, required)
									.calc__tile
										svg.calc__radio-icon
											use(xlink:href='img/svgSprite.svg#icon__apartments')
										.calc__radio-title Коммерческий объект
							.calc__footer
								a.button.calc__button(data-step='next') Далее

					.calc__step.calc__step_02
						.calc__col
							.calc__title Давайте рассчитаем #[span <span>ремонт</span> на вашем объекте]:
							.calc__pagination 2#[span /5]
							.calc__question Укажите ориентировочную площадь
						.calc__col
							.calc__ranges
								.calc__ranges-row
									+field_number('Площадь вашего помещения, м²', 'area', 'input-area', '', 10, 500)
									.calc__range.calc__range_area
								.calc__ranges-row
									+field_number('Количество комнат', 'rooms', 'input-rooms', '', 1, 25)
									.calc__range.calc__range_rooms
								.calc__ranges-row
									+field_number('Количество санузлов', 'bathrooms', 'input-bathrooms', '', 1, 5)
									.calc__range.calc__range_bathrooms
							.calc__footer
								a.button.button_secondary.calc__button(data-step='prev') Назад
								a.button.calc__button(data-step='next') Далее

					.calc__step.calc__step_03
						.calc__col
							.calc__title Давайте рассчитаем #[span <span>ремонт</span> на вашем объекте]:
							.calc__pagination 3#[span /5]
							.calc__question Выберите, какие работы необходимо произвести?
						.calc__col
							.calc__checks-grid
								.calc__checks-col
									.calc__checks-title Потолок
									.calc__checks-list
										+checkbox('Натяжной', 'ceiling', 0, false)
										+checkbox('Гипсокартон', 'ceiling', 1, false)
										+checkbox('Штукатурка', 'ceiling', 2, false)
										+checkbox('Многоуровневый', 'ceiling', 3, false)
								.calc__checks-col
									.calc__checks-title Стены
									.calc__checks-list
										+checkbox('Натяжной', 'walls', 0, false)
										+checkbox('Гипсокартон', 'walls', 1, false)
										+checkbox('Штукатурка', 'walls', 2, false)
										+checkbox('Многоуровневый', 'walls', 3, false)
								.calc__checks-col
									.calc__checks-title Пол
									.calc__checks-list
										+checkbox('Ламинат', 'floor', 0, false)
										+checkbox('Паркет', 'floor', 1, false)
										+checkbox('Плитка штукатурка', 'floor', 2, false)
										+checkbox('Комбинированные', 'floor', 3, false)
							.calc__footer
								a.button.button_secondary.calc__button(data-step='prev') Назад
								a.button.calc__button(data-step='next') Далее

					.calc__step.calc__step_04
						.calc__col
							.calc__title Давайте рассчитаем #[span <span>ремонт</span> на вашем объекте]:
							.calc__pagination 4#[span /5]
							.calc__question У вас есть готовый дизайн-проект?
						.calc__col
							.calc__radios-set
								label.calc__label
									input.calc__radio(type='radio', name='project', value=0, checked, required)
									.calc__tile
										svg.calc__radio-icon
											use(xlink:href='img/svgSprite.svg#icon__doc')
										.calc__radio-title Да, есть
								label.calc__label
									input.calc__radio(type='radio', name='project', value=1, required)
									.calc__tile
										svg.calc__radio-icon
											use(xlink:href='img/svgSprite.svg#icon__search')
										.calc__radio-title В процессе поиска
								label.calc__label
									input.calc__radio(type='radio', name='project', value=2, required)
									.calc__tile
										svg.calc__radio-icon
											use(xlink:href='img/svgSprite.svg#icon__right')
										.calc__radio-title Нет, но не откажусь от бесплатного
							.calc__footer
								a.button.button_secondary.calc__button(data-step='prev') Назад
								a.button.calc__button(data-step='next') Далее

					.calc__step.calc__step_05
						.calc__col
							.calc__title Давайте рассчитаем #[span <span>ремонт</span> на вашем объекте]:
							.calc__pagination 5#[span /5]
							.calc__question Когда планируете начать ремонт?
						.calc__col
							.calc__radios-set
								label.calc__label
									input.calc__radio(type='radio', name='time', value=0, checked, required)
									.calc__tile
										svg.calc__radio-icon
											use(xlink:href='img/svgSprite.svg#icon__clock')
										.calc__radio-title Как можно скорее
								label.calc__label
									input.calc__radio(type='radio', name='time', value=1, required)
									.calc__tile
										svg.calc__radio-icon
											use(xlink:href='img/svgSprite.svg#icon__calendar')
										.calc__radio-title В этом месяце
								label.calc__label
									input.calc__radio(type='radio', name='time', value=2, required)
									.calc__tile
										svg.calc__radio-icon
											use(xlink:href='img/svgSprite.svg#icon__time')
										.calc__radio-title В течение 3-х месяцев
							.calc__footer
								a.button.button_secondary.calc__button(data-step='prev') Назад
								a.button.calc__button(data-step='next') Далее

					.calc__step.calc__step_06
						.calc__col
							.calc__title Давайте рассчитаем #[span <span>ремонт</span> на вашем объекте]:
							.calc__pagination Расчет готов!
							.calc__question Вам куда удобнее получить результат и бонусы?
						.calc__col
							.calc__send
								.calc__block
									.calc__socials
										label.calc__social
											input.calc__radio(type='radio', name='social', value=0, checked, required)
											.calc__social-tile
												svg.calc__social-icon
													use(xlink:href='img/svgSprite.svg#icon__social_wa')
												.calc__social-title WhatsApp
										label.calc__social
											input.calc__radio(type='radio', name='social', value=1, required)
											.calc__social-tile
												svg.calc__social-icon
													use(xlink:href='img/svgSprite.svg#icon__social_tg')
												.calc__social-title Telegram
									.calc__descr Введите ваш телефон, мы вышлем вам стоимость и бонусы на указанный способ как можно скорее!
								.form.calc__form
									.form__grid
										+field('Имя', 'calc-name')
										+field_phone('Номер телефона', 'calc-phone')
										input.button(type='submit', value='Получить')
									.form__small Заполняя форму вы даёте согласие на обработку #[a(href='policy.html', target='_blanc') персональных данных]

					.calc__step.calc__step_07
						.calc__success
							.calc__success-info
								.calc__success-title Ваша заявка отправлена, cпасибо!
								.calc__success-text В ближайшее время мы свяжемся с Вами
							svg.calc__success-icon
								use(xlink:href='img/svgSprite.svg#icon__like')

	section.section.steps
		#steps.section__anchor
		.grid
			.steps__inner
				h2.section__title Этапы #[span работ]
				.steps__grid
					.steps__row
						+steps-item('roller', 'Замер и составление сметы', 1)
						svg.steps__arrow
							use(xlink:href='img/svgSprite.svg#icon__arrow')
						+steps-item('sign', 'Подписание договора', 2)
						svg.steps__arrow
							use(xlink:href='img/svgSprite.svg#icon__arrow')
						+steps-item('cart', 'Подготовительные работы', 3)
					svg.steps__arrow.steps__arrow_link
						use(xlink:href='img/svgSprite.svg#icon__arrow_link')
					.steps__arrow-link
						img(src='img/icon__arrow_end.svg')
						.steps__line
						img(src='img/icon__arrow_start.svg')
					.steps__row.steps__row_second
						+steps-item('wall', 'Отделка помещения', 4)
						svg.steps__arrow
							use(xlink:href='img/svgSprite.svg#icon__arrow')
						+steps-item('clean', 'Клининг', 5)
						svg.steps__arrow
							use(xlink:href='img/svgSprite.svg#icon__arrow')
						+steps-item('keys', 'Сдача объекта', 6)
	section.section.section_bg_grey.team
		#team.section__anchor
		.grid
			.team__inner
				.team__info
					h2.section__title.team__title У нас #[span большая команда #[span специалистов]]
					.team__p В нашей команде каждый специалист занимается своим делом
					ul.team__list
						li.team__li Демонтажники
						li.team__li Каменщики
						li.team__li Электрики
						li.team__li Маляры
						li.team__li Мастера по стяжке
						li.team__li Мастера по гипсокартону
						li.team__li Сантехники
						li.team__li Специалисты систем вентиляции
						li.team__li Штукатуры
						li.team__li Специалисты по напольным покрытиям
						li.team__li Плиточники
						li.team__li Мастера по натяжным потолкам
				.team__slider-wrap
					.swiper.team__slider
						.swiper-wrapper
							.swiper-slide.team__slide
								img(src='img/img__team_01.jpg' alt='')
							.swiper-slide.team__slide
								img(src='img/img__team_02.jpg' alt='')
							.swiper-slide.team__slide
								img(src='img/img__team_03.jpg' alt='')
							.swiper-slide.team__slide
								img(src='img/img__team_04.jpg' alt='')
							.swiper-slide.team__slide
								img(src='img/img__team_05.jpg' alt='')
							.swiper-slide.team__slide
								img(src='img/img__team_06.jpg' alt='')
							.swiper-slide.team__slide
								img(src='img/img__team_07.jpg' alt='')
							.swiper-slide.team__slide
								img(src='img/img__team_08.jpg' alt='')
					.swiper-button-prev.team__prev
						svg.swiper-icon
							use(xlink:href='img/svgSprite.svg#icon__prev')
					.swiper-button-next.team__next
						svg.swiper-icon
							use(xlink:href='img/svgSprite.svg#icon__next')
	section.section.docs
		.grid
			.docs__inner
				h2.section__title Мы всегда #[span повышаем свою #[span квалификацию]]
				.docs__slider-wrap
					.swiper.docs__slider
						.swiper-wrapper
							.swiper-slide.docs__slide
								a.docs__link(data-fslightbox='docs', href='img/img__doc_01_l.jpg')
									img(src='img/img__doc_01.jpg', alt='')
							.swiper-slide.docs__slide
								a.docs__link(data-fslightbox='docs', href='img/img__doc_02_l.jpg')
									img(src='img/img__doc_02.jpg', alt='')
							.swiper-slide.docs__slide
								a.docs__link(data-fslightbox='docs', href='img/img__doc_03_l.jpg')
									img(src='img/img__doc_03.jpg', alt='')
					.swiper-button-prev.docs__prev
						svg.swiper-icon
							use(xlink:href='img/svgSprite.svg#icon__prev')
					.swiper-button-next.docs__next
						svg.swiper-icon
							use(xlink:href='img/svgSprite.svg#icon__next')
	section.section.section_bg_grey.reviews
		#reviews.section__anchor
		.grid
			.reviews__inner
				h2.section__title Отзывы #[span наших клиентов]
				//-.reviews__slider-wrap
					.swiper.reviews__video-slider
						.swiper-wrapper
							.swiper-slide.reviews__slide
								a.reviews__video-link(data-hystmodal="#video-review-1")
									svg.reviews__icon
										use(xlink:href='img/svgSprite.svg#icon__play')
									img(src='img/img__video-review_01.jpg', alt='')
							.swiper-slide.reviews__slide
								a.reviews__video-link(data-hystmodal="#video-review-2")
									svg.reviews__icon
										use(xlink:href='img/svgSprite.svg#icon__play')
									img(src='img/img__video-review_02.jpg', alt='')
					.swiper-button-prev.reviews__video-prev
						svg.swiper-icon
							use(xlink:href='img/svgSprite.svg#icon__prev')
					.swiper-button-next.reviews__video-next
						svg.swiper-icon
							use(xlink:href='img/svgSprite.svg#icon__next')
				.reviews__slider-wrap
					.swiper.reviews__slider
						.swiper-wrapper
							.swiper-slide.reviews__slide
								a.reviews__video-link(data-hystmodal="#video-review-1")
									svg.reviews__icon
										use(xlink:href='img/svgSprite.svg#icon__play')
									img(src='img/img__reviews_01v.jpg', alt='')
							.swiper-slide.reviews__slide
								a.reviews__video-link(data-hystmodal="#video-review-2")
									svg.reviews__icon
										use(xlink:href='img/svgSprite.svg#icon__play')
									img(src='img/img__reviews_02v.jpg', alt='')
							.swiper-slide.reviews__slide
								a.reviews__link(data-fslightbox='reviews', href='img/img__reviews_01_l.jpg')
									img(src='img/img__reviews_01.jpg', alt='')
							.swiper-slide.reviews__slide
								a.reviews__link(data-fslightbox='reviews', href='img/img__reviews_02_l.jpg')
									img(src='img/img__reviews_02.jpg', alt='')
							.swiper-slide.reviews__slide
								a.reviews__link(data-fslightbox='reviews', href='img/img__reviews_03_l.jpg')
									img(src='img/img__reviews_03.jpg', alt='')
							.swiper-slide.reviews__slide
								a.reviews__link(data-fslightbox='reviews', href='img/img__reviews_04_l.jpg')
									img(src='img/img__reviews_04.jpg', alt='')
							.swiper-slide.reviews__slide
								a.reviews__link(data-fslightbox='reviews', href='img/img__reviews_05_l.jpg')
									img(src='img/img__reviews_05.jpg', alt='')
							.swiper-slide.reviews__slide
								a.reviews__link(data-fslightbox='reviews', href='img/img__reviews_06_l.jpg')
									img(src='img/img__reviews_06.jpg', alt='')
							.swiper-slide.reviews__slide
								a.reviews__link(data-fslightbox='reviews', href='img/img__reviews_07_l.jpg')
									img(src='img/img__reviews_07.jpg', alt='')
							.swiper-slide.reviews__slide
								a.reviews__link(data-fslightbox='reviews', href='img/img__reviews_08_l.jpg')
									img(src='img/img__reviews_08.jpg', alt='')
					.swiper-button-prev.reviews__prev
						svg.swiper-icon
							use(xlink:href='img/svgSprite.svg#icon__prev')
					.swiper-button-next.reviews__next
						svg.swiper-icon
							use(xlink:href='img/svgSprite.svg#icon__next')
