@font-face {
	font-display: swap;
	font-family: 'Onest';
	font-weight: 300;
	src: url('../fonts/Onest-Light.woff2') format('woff2');
}
@font-face {
	font-display: swap;
	font-family: 'Onest';
	font-weight: 400;
	src: url('../fonts/Onest-Regular.woff2') format('woff2');
}
@font-face {
	font-display: swap;
	font-family: 'Onest';
	font-weight: 500;
	src: url('../fonts/Onest-Medium.woff2') format('woff2');
}
@font-face {
	font-display: swap;
	font-family: 'Onest';
	font-weight: 700;
	src: url('../fonts/Onest-Bold.woff2') format('woff2');
}
@font-face {
	font-display: swap;
	font-family: 'Onest';
	font-weight: 800;
	src: url('../fonts/Onest-ExtraBold.woff2') format('woff2');
}
