// В этом файле должны быть стили для БЭМ-блока hero, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.hero {
	height: 100vh;
	min-height: 64rem;
	&__inner {
		padding-top: 14.4rem;
	}
}
