// В этом файле должны быть стили для БЭМ-блока footer, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.footer {
	background: var(--color_black);
	color: var(--color_white);
	padding: 4rem 0;
	@media screen and (min-width: $screen-d) {
		padding: 8rem 0;
	}
	&__inner {
		display: grid;
		gap: 4rem;
		grid-template-areas: 'title' 'contacts' 'form' 'info';
		@media screen and (min-width: $screen-t) {
			gap: 3.2rem;
			grid-template-areas:
						'title form'
						'contacts form'
						'info form';
		}
		@media screen and (min-width: $screen-d) {
			gap: 0;
			grid-template-columns: auto 37.5%;
		}
	}
	:is(.footer) &__title {
		grid-area: title;
		margin: 0;
		@media screen and (min-width: $screen-t) {
			text-align: left;
		}
	}
	&__contacts {
		display: grid;
		gap: 1.6rem;
		grid-area: contacts;
		@media screen and (min-width: $screen-tl) {
			grid-template-columns: 1fr 1fr;
		}
		@media screen and (min-width: $screen-d) {
			gap: 0;
			grid-template-columns: 31.6rem auto;
			margin: 3.2rem 0 5.6rem;
		}
	}
	&__col {
		display: grid;
		gap: 1.6rem;
	}
	&__item {
		align-items: center;
		justify-self: center;
		color: inherit;
		display: flex;
		gap: 1.6rem;
		font-size: 2rem;
		letter-spacing: 0.01em;
		line-height: 1;
		text-decoration: none;
		transition: opacity .25s ease-in-out;
		&:hover {
			opacity: .8;
		}
		@media screen and (min-width: $screen-t) {
			justify-self: start;
		}
	}
	&__icon {
		stroke: #f1a000;
		height: 3.2rem;
		width: 3.2rem;
	}
	&__text {}
	&__form {
		grid-area: form;
		margin: 0 calc(-1 * var(--screen_margin));
		@media screen and (min-width: $screen-t) {
			margin: 0;
		}
	}
	&__info {
		display: grid;
		justify-content: flex-start;
		gap: .8rem;
		grid-area: info;
		@media screen and (min-width: $screen-d) {
			margin-top: 0.8rem;
		}
	}
	&__link {
		color: inherit;
		font-size: 1.2rem;
		line-height: 1.333;
		text-align: center;
		text-decoration-line: underline;
		transition: opacity .25s ease-in-out;
		&:hover {
			opacity: .8;
			text-decoration: none;
		}
		@media screen and (min-width: $screen-t) {
			text-align: left;
		}
	}
	&__copy {
		font-size: 1.6rem;
		line-height: 1;
		margin-top: 2rem;
		text-align: center;
		@media screen and (min-width: $screen-t) {
			text-align: left;
		}
		@media screen and (min-width: $screen-d) {
			margin-top: 3.2rem;
		}
	}
}
