// В этом файле должны быть стили для БЭМ-блока grid, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.grid {
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	width: var(--container);
	@media screen and (min-width: $screen-d) {
		width: 120rem;
		.header & {
			width: var(--container);
		}
	}
	@media screen and (min-width: $screen-dl) {
		width: 127rem;
		.header & {
			width: var(--container);
		}
	}
}

