.footer.section
	#contacts.section__anchor
	.grid
		.footer__inner
			h2.section__title.footer__title Наши #[span контакты]
			.footer__contacts
				.footer__col
					a.footer__item(href='tel:81234567890')
						svg.svg.footer__icon
							use(xlink:href='img/svgSprite.svg#icon__phone')
						span.footer__text +7 123 456 78 90
					a.footer__item(href="mailto:energy@host.com")
						svg.svg.footer__icon
							use(xlink:href='img/svgSprite.svg#icon__mail')
						span.connections__text energy@host.com
				.footer__col
					a.footer__item(href='#', target='_blank')
						svg.svg.footer__icon
							use(xlink:href='img/svgSprite.svg#icon__social_wa')
						span.footer__text WhatsApp
					a.footer__item(href='#', target='_blank')
						svg.svg.footer__icon
							use(xlink:href='img/svgSprite.svg#icon__social_tg')
						span.footer__text Telegram
			.footer__form
				+form('Остались <span>вопросы</span>?', 'footer-name', 'footer-phone', 'Отправить')
			.footer__info
				a.footer__link(href='#', target='_blank') Пользовательское соглашение
				a.footer__link(href='#', target='_blank') Политика конфиденциальности
				.footer__copy 2015-2022 © Energy
