.footer.section
	#contacts.section__anchor
	.grid
		.footer__inner
			h2.section__title.footer__title Наши #[span контакты]
			.footer__contacts
				.footer__col
					a.footer__item(href='tel:88432971212')
						svg.svg.footer__icon
							use(xlink:href='img/svgSprite.svg#icon__phone')
						span.footer__text +7 (843) 297-12-12
					a.footer__item(href="mailto:ck-energy1@yandex.ru")
						svg.svg.footer__icon
							use(xlink:href='img/svgSprite.svg#icon__mail')
						span.connections__text ck-energy1@yandex.ru
				.footer__col
					a.footer__item(href='https://wa.me/79872971212', target='_blank')
						svg.svg.footer__icon
							use(xlink:href='img/svgSprite.svg#icon__social_wa')
						span.footer__text WhatsApp
					a.footer__item(href='https://t.me/CK_ENERGY', target='_blank')
						svg.svg.footer__icon
							use(xlink:href='img/svgSprite.svg#icon__social_tg')
						span.footer__text Telegram
			.footer__form
				+form('Остались <span>вопросы</span>?', 'footer-name', 'footer-phone', 'Отправить')
			.footer__info
				a.footer__link(href='policy.html', target='_blank') Политика конфиденциальности
				.footer__copy 2015-#[span.footer__year] © Energy
