.nav
	.grid
		.nav__inner
			nav.nav__links
				a.nav__links-item(href='#services') Услуги
				a.nav__links-item(href='#works') Работы
				a.nav__links-item(href='#calc') Расчёт
				a.nav__links-item(href='#team') Команда
				a.nav__links-item(href='#reviews') Отзывы
				a.nav__links-item(href='#contacts') Контакты
			+connections('nav__connections')
