//- Стандартный шаблон страницы
include mixins.pug

doctype html
html(class='no-js', lang='ru-RU')
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, user-scalable=yes, initial-scale=1, maximum-scale=3, minimum-scale=0.1')
		meta(http-equiv='X-UA-Compatible', content='ie=edge')
		meta(name='format-detection', content='telephone=no')
		meta(name='format-detection', content='date=no')
		meta(name='format-detection', content='address=no')
		meta(name='format-detection', content='email=no')
		meta(name='google', content='notranslate')
		meta(name='HandheldFriendly' content='true')
		meta(name='robots', content='index, follow')

		link(rel='apple-touch-icon' sizes='180x180' href='img/favicon/apple-touch-icon.png')
		link(rel='icon' type='image/png' sizes='192x192' href='img/favicon/android-chrome-192x192.png')
		link(rel='icon' type='image/png' sizes='32x32' href='img/favicon/favicon-32x32.png')
		link(rel='icon' type='image/png' sizes='16x16' href='img/favicon/favicon-16x16.png')
		link(rel='manifest' href='img/favicon/site.webmanifest')
		link(rel='mask-icon' href='img/favicon/safari-pinned-tab.svg' color='#f1a000')
		meta(name='apple-mobile-web-app-title' content='Energy')
		meta(name='application-name' content='Energy')
		meta(name='msapplication-TileColor' content='#f1a000')
		meta(name='theme-color' content='#f1a000')

		block meta
			title Energy — ремонт квартир под ключ без стресса в Казани
			meta(name='description', content='')
			meta(name='keywords', content='')

		block head
			link(rel="stylesheet" href="css/style.css")

	body(data-state)
		noscript У вас отключен JavaScript. Это пугает.

		.page
			.page__nav
				include layout__part_nav.pug
			.page__header
				include layout__part_header.pug
			.page__main
				block pageMain
					.fake-content fake-content
			.page__footer
				include layout__part_footer.pug

			+popup
			+popup-thanks
			+popup-video
			+popup-video_2
			//- +popup-video-review_1
			//- +popup-video-review_2
			+popup-video-review_3
			+popup-video-review_4
			+popup-video-review_5
	block templates

	script(src='js/hystmodal.min.js')
	script(src='js/main.js')

	block scripts
