//- Все примеси в этом файле должны начинаться c имени блока (connections)

mixin connections(mod)
	.connections(class=mod)
		.connections__item
			a.connections__phone(href='tel:88432971212') +7 (843) 297-12-12
			a.connections__callback(data-hystmodal="#application") Заказать звонок
		.connections__item
			a.connections__social(href='https://wa.me/79872971212', target='_blank')
				svg.svg.connections__icon
					use(xlink:href='img/svgSprite.svg#icon__social_wa')
				span.connections__text WhatsApp
			a.connections__social(href='https://t.me/CK_ENERGY', target='_blank')
				svg.svg.connections__icon
					use(xlink:href='img/svgSprite.svg#icon__social_tg')
				span.connections__text Telegram
