// В этом файле должны быть стили для БЭМ-блока services, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.services {
	&__inner {}
	&__grid {
		display: grid;
		gap: .8rem;
		@media screen and (min-width: $screen-t) {
			gap: 1.6rem;
			grid-template-columns: 1fr 1fr;
		}
		@media screen and (min-width: $screen-tl) {
			grid-template-columns: repeat(4, 1fr);
		}
	}
	&__item {
		align-items: center;
		background: var(--color_white);
		box-shadow: 0 2rem 1.3rem rgba(7, 2, 0, 0.035),
					0 .8rem .6rem rgba(7, 2, 0, 0.0274815),
					0 .2rem .3rem rgba(7, 2, 0, 0.0168519);
		display: flex;
		flex-direction: row;
		padding-right: 1.6rem;
		gap: 1.6rem;
		@media screen and (min-width: $screen-t) {
			align-items: flex-start;
			flex-direction: column;
			justify-content: space-between;
			height: 24rem;
			padding: .8rem 3.2rem 3.2rem;
		}
	}
	&__icon {
		flex-shrink: 0;
		height: 8rem;
		width: 8rem;
		@media screen and (min-width: $screen-t) {
			height: 12rem;
			transform: translateX(-2.4rem);
			width: 12rem;
		}
	}
	&__title {
		font-size: 1.6rem;
		@media screen and (min-width: $screen-t) {
			line-height: 1.25;
		}
		span {
			white-space: nowrap;
		}
	}
}
