// В этом файле должны быть стили для БЭМ-блока project, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.project {
	display: grid;
	gap: 1.6rem;
	grid-template-columns: 100%;
	@media screen and (min-width: $screen-tl) {
		gap: 3.2rem;
		grid-template-columns: 62.5% auto;
	}
	&__tabs {
		display: flex;
		flex-direction: column;
		gap: .8rem;
		width: 100%;
		@media screen and (min-width: $screen-tl) {
			flex-direction: column-reverse;
			gap: 1.6rem;
		}
	}
	&__head {}
	&__gallery {}
	&__item {
		display: none;
		&_active {
			display: block;
		}
	}
	&__info {
		@media screen and (min-width: $screen-tl) {
			padding-top: 1.6rem;
		}
	}
	&__label {
		font-size: 1.6rem;
		line-height: 1;
		margin-bottom: .8rem;
	}
	&__title {
		font-size: 3.2rem;
		font-weight: 700;
		line-height: 1;
		margin-bottom: 1.6rem;
	}
	&__tags {
		display: flex;
		gap: 1.6rem;
	}
	&__tag {
		background: var(--color_white);
		border: .1rem solid var(--color_brand);
		font-size: 1.2rem;
		line-height: 1.33;
		padding: .8rem 1.2rem;
		@media screen and (min-width: $screen-d) {
			font-size: 1.6rem;
			line-height: 1;
		}
	}
	&__list {
		list-style: none;
		margin: 1.6rem 0 2.4rem;
		padding: 0;
		@media screen and (min-width: $screen-tl) {

		}
	}
	&__li {
		font-size: 1.6rem;
		line-height: 1;
		padding: 1.6rem 0 0 1.6rem;
		position: relative;
		&:before {
			background: var(--color_brand);
			content: '';
			display: block;
			height: .8rem;
			left: 0;
			position: absolute;
			top: 1.6rem;
			width: .8rem;
		}
	}
	&__button {
		display: block;
		width: 100%;
		@media screen and (min-width: $screen-t) {
			width: 16rem;
		}
	}
	&__link {
		display: block;
	}
	&__image {
		aspect-ratio: 16/12;
		background: var(--color_border-grey);
		display: block;
		object-fit: contain;
		width: 100%;
	}
	.image-compare {
		z-index: 2;
	}
	.icv__label {
		font-size: 1.2rem;
		font-weight: 700;
	}
}
