// В этом файле должны быть стили для БЭМ-блока project-thumbs, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.project-thumbs {
	@media screen and (min-width: $screen-ti) {
		padding: 0 8rem;
	}
	&__slide {
		border: .2rem solid var(--color_white);
		cursor: pointer;
		transition: opacity .25s ease;
		&:hover {
			opacity: .8;
		}
		&.swiper-slide-thumb-active {
			border-color: var(--color_brand);
		}
	}
	&__img {
		display: block;
		height: auto;
		pointer-events: none;
		user-select: none;
		width: 100%;
	}
	&__next.swiper-button-next,
	&__prev.swiper-button-prev {
		display: none;
		@media screen and (min-width: $screen-ti) {
			display: flex;
		}
	}
	&__prev.swiper-button-prev {
		left: .8rem;
		@media screen and (min-width: $screen-d) {
			left: 1.6rem;
		}
	}
	&__next.swiper-button-next {
		right: .8rem;
		@media screen and (min-width: $screen-d) {
			right: 1.6rem;
		}
	}
}
