//- Все примеси в этом файле должны начинаться c имени блока (form)

mixin form-on-page(title, nameID, phoneID, button)
	form.form
		.form__title!= title
		.form__grid
			+field('Имя', nameID)
			+field_phone('Номер телефона', phoneID)
			button.button!= button
